@{
    ViewData["Title"] = "Maxima Tech E-commerce";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Sua loja Ecommerce</h1>
    <a class="btn btn-primary btn-lg" href="/produto" role="button">Área de Produtos</a>
</div>
